<div class="container">
  <app-alert [hidden]="!showEmployeeMessage">
    O novo empregado <strong>{{ employee?.name }}</strong> foi cadastrado
  </app-alert>
  <div class="row">
    <h1>Nossos empregados</h1>
    <table class="table">
        <thead>
          <tr>
            <th colspan="3">
              <button class="btn btn-primary" (click)="openNewModal()">Novo empregado</button>
            </th>
          </tr>
          <tr>
              <th>Nome</th>
              <th>Salário</th>
              <th>Bônus</th>
              <th>Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employeeService.employees;let i=index;" [id]="'tr'+i">
              <td [innerHtml]="employee.name"></td>
              <td [innerHtml]="employee.salary" [salaryColor]="employee.salary"></td>
              <td>{{employee.bonus}}</td>
              <td>
                <a href="javascript:void(0)" (click)="openEditModal(employee)">Editar</a> |
                <a href="javascript:void(0)" (click)="openDestroyModal(employee)">Excluir</a>
              </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<app-employee-new-modal (onSubmit)="onNewEmployee($event)" (onHide)="fechar($event)" (onShow)="abrir($event)"></app-employee-new-modal>
<app-employee-edit-modal [employee]="employeeEdit" (onSubmit)="onEditEmployee($event)"></app-employee-edit-modal>
<app-employee-delete-modal [employee]="employeeDelete" (onDestroy)="onDeleteEmployee($event)"></app-employee-delete-modal>
